.buttonSmall {
  background-color: #ffffff;
  border-radius :50%;
  width :70px;
  height:70px;
  border: 8px solid rgb(223, 223, 223);
}
.buttonSmall:hover { background-color: #e2e2e2;}

.buttonSmall:active {
  background-color: #e2e2e2;
  transform: translateY(4px);
}
.buttonBig {
  background-color: #ffffff;
  border-radius :50%;
  width :120px;
  height:120px;
  border: 8px solid rgb(223, 223, 223);
}
.buttonBig:hover { background-color: #e2e2e2;}

.buttonBig:active {
  background-color: #e2e2e2;
  transform: translateY(4px);
}

.chat-header {
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .back-btn {
    font-size: 22px;
    color: #959595;
  }
  .dot-btn {
    font-size: 22px;
    color: #959595;
  }

  .user-info {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-pic {
      background: palevioletred;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }

    .username {
      font-size: 20px;
    }
  }
}